.login-form {
  height: 400px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  max-width: 350px;
}

.purple-red-gradient-wrapper {
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
  padding: 2px;
  width: 80%;
  max-width: 200px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  border-radius: 10px;
}
